/*:root{
    --spacingUnit: 8px;
    --primaryColor: #804b0e;
    --primaryColor600:#66350f;
    --primaryColor700:#5a2700;
    --secondaryColor:#0e4380;
}*/
html, body, #root,.playground  {
    height:100%;
}
.loaf-app, .loaf-app-logging,  .loaf-app-splash {
    height: calc(100% - 20px);
}
body {
    line-height: inherit;
}
:root{
    --spacingUnit: 8px;
    --primaryColor: #607D8B;
    --primaryColor600:#39434a;
    --primaryColor700:#242b2f;
    --primaryColor800: #161c1f;
    --secondaryColor:#0e4380;
}
.loaf-app-logging h2 {
    color: #fff
}
.loaf-app-logging input {

    color: white;
}
.error-message-default {
    padding-top:15px;
    padding-bottom:15px;
    color:red;
    font-weight: 700;
}
.register-button {
    background-color: var(--primaryColor700) !important;
    color:white !important;
    width:100%;
}
.loaf-app-logging>img {
    width:140pt;
}
.navigate-link {
    display:flex;
    justify-content: center;
    text-decoration: none;
}
.navigate-button {
    background-color: var(--primaryColor700) !important;
    color:white !important;
}
body {
    background-color:var(--primaryColor600);
    background-size:80%;
    background-position:center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}
.loaf-app, .loaf-app-logging{
    width:100%;
}
.window-app {
    width: 100%;
}
.window-bar  {
    width:100%;
    height:20px;
    display:flex;
}
.window-bar .app-control {
    width:20px;
    height:20px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.50);
    cursor: default;
}
.window-bar .app-control:hover {
    color:white;
    background-color:#0093c7;
}
.window-bar .app-control.close:hover {
    background-color:red;
}
.window-bar .window-drag-bar{
    flex:1;
    margin-top:1px;
    -webkit-app-region: drag;
}
.text-field-container > div::after {
    border-bottom: 2px solid rgba(255, 255, 255, 0.84) !important;
}
.menu span.menu-entry {
    font-size:15px;
    letter-spacing: 0.5px;
}
.contact-input::before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.42) !important;
}
.new-contact-adornment p {
    color: #ffffff70;
    position: relative;
    left: 4px;
    bottom: 1px;
}
.new-contact-modal {

}
.outline-container fieldset{
    border:none;
}
.modal-container{
    --height: 189px;
    height:var(--height);
    width:350px;
    outline:none;
    margin: auto;
    margin-top: calc(50vh - var(--height)/2);
    background-color: var(--primaryColor600) !important;
}
.visible-name, .main-identifier {
    color: white;
}
.new-conversation-entry.selected {
    background: rgba(255,255,255,0.1);
}
.modal-container.new-conversation {
    --height: 389px;
    height:var(--height);
    width:350px;
    outline:none;
    margin: auto;
    margin-top: calc(50vh - var(--height)/2);
    background-color: var(--primaryColor600) !important;
}
.drawer-content {
    background-color: var(--primaryColor600) !important;
    background-image: url('./../assets/loaf-bg.svg');
    background-position: bottom 25px center;
    background-repeat: no-repeat;
}
.menu .menu-icon {
    justify-content: center;
    margin-left: -4px;
}
.menu .menu-icon svg {
    width: 0.85em;
    height: 0.85em;
}
.loaf-app-logging {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position:absolute;
}
#login-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 90vw;
    background-color: rgba(0,0,0,0.23);
    padding: 20px;
    background-image:url('./../assets/loaf_newlogo.svg');
    background-position: top 33px center;
    background-repeat: no-repeat;
    background-size: 140px;
    padding-top: 140px;
}
#splash-backdrop {
    z-index: 1;
    color: #fff;
}
#login-page .password-input, #login-page .username-input, #login-page .firstname-input {
    color: white;
    height: 70px;
    align-items:center;
    display:flex;   
    justify-content: center;
}
#login-page .password-input > div::after, #login-page .username-input > div::after, #login-page .firstname-input > div::after {
    display: none !important;
}
#login-page .password-input > div::before, #login-page .username-input > div::before, #login-page .firstname-input > div::before {
    display: none !important;
}
#login-page .password-input input, #login-page .username-input input, #login-page .firstname-input input {
    color: white;
    height: 30px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 15px;
    border-radius: 10px;
}
.grow {
    flex-grow:1;
}
.big-button {
    padding: 12px 30px !important;
}
.menuButton {
    margin-left:-12px;
    margin-right:20px;
}
.you {
    color: #00b1e6;
    font-weight: 500;
}
/*.search {
    position:relative;
    border-radius:8;
    backgr
}*/
.searchIcon {
    width:auto;
    height:100%;
    position:absolute;
    pointer-events: none;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    right: calc(var(--spacingUnit)*3);
}
.bar {
    background-color:var(--primaryColor700);
}
.chat-name{
    display: flex;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.5pt;
    display:flex;
}
.chat-list .text-item, .chat_container .chat-text-item {
    padding-left:16px;
}
.chat-name-text {
    font-weight:bold;
    color:white;
    flex:1;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}
.last-message-date {
    color:#a5a5a5;
    font-size:0.7rem;
}
.chat-name.safe::before{
    content: '';
    position:relative;
    height:18px;
    max-height:100%;
    width:22px;
    display: inline-block;
    background-image:url('./../assets/loaf_newlogo.svg');
    background-size:contain;
    background-position:center bottom;
    background-repeat: no-repeat;
}
.chat-last-message{
    position:relative;
}
.chat-last-message .text {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#e8e8e8;
    max-width:90%;
    font-size: 0.85rem;
    line-height: normal;
}
.last-text-status {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background:none;
    background-size:contain;
    background-position:right center;

    background-repeat: no-repeat;
    filter:invert(71%) sepia(20%) saturate(895%) hue-rotate(164deg) brightness(86%) contrast(100%);
    stroke:white;
}
.last-text-status.read{
    background-image:url('./../assets/read.svg');
}
.last-text-status.received, .last-text-status.send{
    background-image:url('./../assets/received.svg');
}
/*.chat-last-message::after{
    content:'';
    height:10px;
    height:12px;
    width:12px;
    display:inline-block;
    background-image:url('./../assets/read.svg');
    background-size:contain;
    background-position:center bottom;
    background-repeat: no-repeat;
}*/
.avatar{
    /*width:65px !important;
    height:50px !important;*/
    overflow:visible !important;
    /*border-radius:0 !important;*/
}
.chat-list-entry .avatar {
    height:50px;
    width:50px;
}
/*.MuiDrawer-paper-97{
    background-color:var(--primaryColor600) !important;
}*/
.sidenav {
    width:300px;
}
.sidenav .menu span, .sidenav .menu svg {
    color: #eef1f3 !important;
}
.sidenav .userView {
    position: relative;
    padding-top: 90px;
    box-shadow: inset 0 0 4px 0px rgba(0,0,0,0.7);
    letter-spacing: 0.7px;
    font-weight: 600;
    color: white;
}
.sidenav .userView .userCredentials {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}
.sidenav .background {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url('./../assets/4PGgY_FN_400x400.jpg');
}
.sidenav a {
    height: auto;
    padding: 0;
    color: rgba(0,0,0,0.9);
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none !important;
}
.sidenav a span {
    font-size: 13px;
    line-height: 24px;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    letter-spacing: 1.5px;
}
.sidenav .firstName {
    padding:0;
}
.sidenav .username {
    opacity:0.7;
}
.avatar img {
    border-radius:50%;
    width:auto;
}
.bar .avatar img {
    height:45px;
}
/*.chat-button.new-message .avatar::before{
    content:"";
    height:12px;
    width:12px;
    display:inline-block;
    position:absolute;
    background-color:#8BC34A;
    border-radius: 50%;
    left:-6px;
    border-style: solid;
    border-width:1px;
    border-color: rgba(0,0,0,0.5);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
}*/
.chat-button .avatar img{
    border: 3px solid #8BC34A;
}
.chat-button:not(.new-message) .avatar img {
    border:none;
}
.chat-button{
    /*background-color:var(--primaryColor600) !important;*/
}
.chat-button.new-message .chat-last-message {
    font-weight:600;
    color:#fbfbfb;
    letter-spacing:0.8px;
}
/*hr.MuiDivider-inset-136{
    margin-right:72px;
}*/
.chat-list {
    margin-top:60px !important;

    width:34%;
}
.many-msg-types {
    display: flex;
    flex-direction: column;
}
.many-msg-types > * {
    align-self: flex-start;
}
.file-preview {
    display: flex;
    padding: 10px;
}
.file-preview .file-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffd66bc7;
    border-radius: 50%;
}
.file-preview .file-data {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.file-preview .file-data div {
    text-align: left;
}
.file-preview .file-data .file-size {
    opacity: 0.7;
    font-size: 12px;
}
.file-preview > img {
    align-self: flex-start;
}
.chat_container{
    /*margin-top: 56px !important;*/
    width: 66%;
    background-color: rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
}
.chat-list-entry.current {
    background-color:#6ce6f11a;
}
.chat-list-entry.current.new-convo {
    background-color:rgba(108, 230, 241, 0.3);
}
.chat-list-entry.new-convo .chat-name-text{
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 2.5px;
}
.chat_container.empty {
    background-image: url('./../assets/loaf_newlogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:200px;
}
.logo-wrapper{
    display:flex !important;
    align-items: center;
    justify-content: center;
    margin:auto !important;
    position:relative;
    right:calc(var(--spacingUnit)*3);
}
.logo-wrapper > img {
    max-height:40px;
}
li > hr.separator {
    background-color: rgba(255,255,255,0.21);
    height: 1px;
}
.flex-column {
    display:flex;
    flex-direction: column;
}
.playground {
    display:flex;
    flex-direction: row;
}
.loaf-show{
    opacity:1;
}
.loaf-hide {
    opacity: 0;
}
.register-form{
    height:210pt;
    overflow:hidden;
}

.loaf-fade-in{
    transition: opacity 0.75s ease 1s, height 0.75s ease 0.75s;
    opacity:1;
}
.loaf-fade-out {
    transition: opacity 0.75s ease 0s, height 0.75s ease 0.75s;
    opacity:0;
    height:0 !important;
}
.bold {
    font-weight:700;
}
.message:not(.friend){
    align-self: flex-end;
}
.message {
    background-color: #242b2f;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #ffd66b, #ff8b84) 3;
    color: white;
    max-width: 85%;
    text-align: center;
    
    align-self: flex-start;
    margin: 10pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}
.message.friend {
    display: flex;
    flex-direction: row;
}
.message.announcement {
    align-self: center;
}
.message.my {
    align-self: flex-end;
}
.message p {
    padding: 1em;
    margin:0;
    text-align: left;
}
.message.friend p {
    align-self: center;
    padding-top:0;
}
.message-sender-name {
    text-align: left;
    padding-left: 17px;
    font-size: 12px;
    color: #00b1e6;
    margin-right: 1em;
    margin-top: 15px;
    margin-bottom: 2px;
}
.message_container{
    width: 100%;
    flex: 1;
    display: flex;
    overflow:auto;
    flex-direction: column;
}
.drag-show {
    position: absolute;
    top: 66px;
    left: 34%;
    right: 0;
    pointer-events: none;
    bottom: 0;
    transition: opacity 0.25s;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}
.message_container.highlight-drag ~ .drag-show{
    opacity:1;
}
.message_container.upload ~ .drag-show{
    pointer-events: all;
    opacity:1;
}
.drag-file-img-preview {
    max-height:50px;
    max-width:50px;

}
.drag-show .drag-window {
    width: 85%;
    height: 85%;
    background-color: var(--primaryColor700);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 14px 0px #00000000;
    transition: box-shadow 0.25s;
    overflow: hidden;
}
.drag-show .drag-window.dropped {
    width: unset;
    height: unset;
}
.drag-show .image-send {
    background: linear-gradient(to right, #ffd66b, #ff8b84);
    padding: 20px;
    font-weight: 600;
    text-align: center;
}
.message_container.highlight-drag ~ .drag-show .drag-window {
    box-shadow: 0px 6px 14px 0px #00000061;
}
.btn-behaviour {
    transition: all 0.25s;
    cursor:pointer;
}
.btn-behaviour:hover {
    filter: brightness(1.3);
}
.btn-behaviour:active {
    transition: all 0.1s;
    filter: brightness(0.7);
}
.drag-show .drag-window .drag-window-content > svg {
    width: 76%;
    height: 40%;
    color: #00b1e6;
    filter: drop-shadow(0px 0px 6px #00000078);
}
.drag-show .drag-window .drag-window-content {
    display: flex;
    flex-direction: column;
    border: 4px dashed #00b1e6;
    border-radius: 100px;
    align-items: center;
    color: #00b1e6;
    text-transform: uppercase;
    justify-content: center;
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    font-weight: 500;
    letter-spacing: 1.5px;
}
.upload-entries-preview {
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    overflow: auto;
}
.upload-entry-preview {
    display: flex;
    min-width: 330px;
    padding: 10px 20px;
    max-width:90vw;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.preview-image-container {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-image-container .preview-image {
    width: 80%;
    height: 80%;
    border-radius:5px;
    background-size: cover;
    background-position: center;
}
.upload-entry-preview .preview-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}
.upload-entry-preview .preview-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.upload-entry-preview .preview-action-container .cancel-file {
    cursor: pointer;
}
.upload-entry-preview .preview-action-container .cancel-file svg {
    filter: drop-shadow(0px 2px 0px transparent);
    transition: all 0.2s;
    will-change: transform;
}
.upload-entry-preview .preview-action-container .cancel-file:hover svg {
    filter: drop-shadow(0px 2px 2px black);
}
.message .avatar {
    margin-left: 8px;
    margin-top: 13px;
    margin-bottom: 8px;
}
.message.friend.image .message-sender-name {
    margin-top: 10px;
    margin-bottom: 9px;
}
.message_container.request {
    justify-content: center;
}
.message_container div img {
    
    max-width: 200px;
    max-height: 400px;
}
.text_sender{
    background-color:#242b2f;
    height:56px;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, #ffd66b, #ff8b84) 3;
}
.chat_container .chat-name-text {
    font-size: 1.5rem;
}
.chat_container .chat-last-message .text {
    color: #969696;
    font-size: 0.7rem;
}

.dropArea {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px dashed #ffffff;
    height:94px;
    opacity: 0.6;
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
}
.dropArea .background {
    display: none;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #ffffff26;
    border-radius: 10px;
    z-index: -1;
}
.dropArea.hightlight .background, .dropArea:hover .background {
    display: block;
}
.dropArea.path_selector {
    height: 37px;
    width: 200px
}
.dropArea label {
    flex:1;
    font-size: 10px;
    font-weight: 600;
    margin-bottom:0;
    height: 100%;
}
.dropArea label img {
    margin-right:22px;
}
.dropArea label:hover{
    cursor: pointer;
}
.dropArea.hightlight,.dropArea:hover {
    opacity:1;
    cursor: pointer;
}
.dropArea input[type="file"]{
    display:none;
}